<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;

namespace <#= Namespace #>
{
    
}

<#+
    public string Namespace { get; set; }
#>